/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    padding: 0px;
}

img {
    width: 100px;
}

.hero-section{
    background-image: url(images/dublin.jpg);
    background-size: cover;
    background-position: top;
    margin: 0px auto 119px auto;
    display: block;
    margin: 0px;

}


.hero-title{
    display: block;
    padding: 12px 3px 12px 5px;
    background-color: #1D3557;
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.8px;
    width: 225px;
    height: 42px;
    border-radius: 10px;
    color: #FFFFFF;
}


.hero-desc{
    display: block;
    padding: 5px 29px 8px 28px;
    background-color: #457B9D;
    width: 412px;
    height: 86px;
    border-radius: 10px;
    color:#FFFFFF;
    font-family : Arial;
    font-size: 18.72px;
    font-weight: 700;
    line-height: 21.53px;
    text-align: center;

}


